html {
	background-color: #F9C203;
}
body {
	height: 100vh;
	max-width: 1080px;
	width: 100vw;
	background-color: #F9C203;
	color: white;
	line-height: 1;
	margin: 0 auto;
	padding: 0px 35px 0px 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

body div {
	border-radius: 0px !important;
}

#player-1-score-div {
	text-align: right;
}

#player-2-score-div {
	text-align: center;
}

#main-board {
	background-image: none;
	/* background-color: red !important; */
	/* padding: 0px 5px 0px 0px; */
	padding: 5px;
	display: flex;
	/* margin-top: -15px; */
	height: auto;
	align-items: center;
    justify-content: center;
}

#main-board-categories{
	background-image: none;
	background-color: black;
	padding: 5px;
	border: none;
	color: white;
	/* padding: 5px 5px 0px 0px; */
	display: flex;
	height: auto;
	align-items: center;
    justify-content: center;
}

.category {
	width: 154px;
	padding-left: 0px;
	padding-right: 0px;
	margin: 0px;
	border: none;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
}

.category-title {
	background-image: none;
	border: none;
	display: table-cell;
	vertical-align: middle;
	position: relative;
	height: auto !important;
	/* background-color: blanchedalmond; */
}

.category-text {
	color: #131313;
	font-size: 24px;
	font-family: Impact;
	font-weight: bold;

}
/* main panels */
.well {
	background-image: none;
	background-color: #FBC104;
	border: none;
	border-radius: 0px;
	margin: 1px;
	height: 100px;
	width: 98%;
	padding: 10px;
	display: flex;
	align-items: center;
    justify-content: center;
}

/* completed answer */
.question {
	background-color: #886a29;
	color: #131313;
	font-size: 50px;
	font-family: Impact;
}

.unanswered {
	background-color: #FBC104;
	cursor: pointer;
}

.unanswered:hover {
	background-color: #fbd864;
}

.unanswered:active {
	background-color: #e0ad25;
}

.modal {
	padding-left: 0px;
	/* background-color: chocolate; */
}

.modal-title {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-align: center;
}

.modal-content {
	background-color: #F9C203;
	color: #131313;
	border-radius: 0px;
	margin: 0 auto;
	box-shadow: none;
	border: 0px;
	height: 800px !important;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.panel {
	border: 0px;
	box-shadow: 0 1px 2px rgb(0 0 0 / 0%);
}

.panel-footer {
	padding: 15px;
	background-color: #F9C203;
	color: white;
	border: 0px;
}

.panel-default {
	border: 0px !important;
}

#daily-double-modal {
	display: flex;
	align-items: center;
	justify-content: center;
	/* flex-direction: column; */
}

#daily-double-content {
	padding: 175px;
	background-color: #F9C203;
	/* overflow: hidden; */
}

.modal-footer {
	text-align: center;
}

.no-border {
	border: 0px !important;
}

button {
	background-color: #131313;
	color: white;
	font-family: impact;
	padding: 15px;
	margin: 5px;
	border-radius: 5px;
	border: 0px;
}

button:hover {
	background-color: #252424 !important;
}

button:active {
	background-color: #000000;
}

.score-button-group {
	text-align: center;
}

.control-button-group {
	text-align: center;
	height: 15px
}

#game-load-modal-dialog {
	opacity: 1 !important;
	background-color: #F9C203;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

#game-load-modal {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#question-modal {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#question-modal-dialog {
	width: 100vw;
	margin: 0;
}

#question-modal-content {
	height: 100%;
	border-radius: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#question-modal-body {
	height: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.card-body {
	margin-left: 10%;
	margin-right: 10%;
	height: 75vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#game-load-logo-img {
	width: auto;
	height: 250px;
}

#end-round {
	margin-right: 10px;
}

.question-text, #answer-text {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 45px;
	text-align: center;
	color: #131313;
	padding: 5%;
}

.caption {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 25px;
	padding: 5%;
}

/* #question-image {
} */

/* #question-image img, #final-image img{
	padding: 10px;
	max-height: 50vh;
} */


video, iframe, #question-image img, #final-image img, #final-jeopardy-logo-img	{
	padding: 10px;
	height: 300px;
}

.file-select {
	width: 250px;
	height: 50px;
	padding: 5px 5px 5px 80px;
	margin: 0 auto;
	text-align: center;
	/* background-color: wheat; */
}

.file-btn {
	width: 250px;
	height: auto;
	padding: 10px;
	margin: 0 auto;
}

input::file-selector-button {
	background-color: rgba(0,0,0,0);
	color: #131313;
	font-family: impact;
	padding: 5px;
	margin: 5px;
	border-radius: 5px;
	border: 3px solid #131313;
}

input::file-selector-button:hover {
	background-color: #fbd864 !important;
}

input::file-selector-button:active {
	background-color: #e0ad25;
}

.fade-scale {
	transform: scale(0);
	opacity: 1;
	-webkit-transition: all .5s linear;
	-o-transition: all .5s linear;
	transition: all .5s linear;
  }
  
  .fade-scale.in {
	opacity: 1;
	transform: scale(1);
  }

  .blink {
	animation: blinker 1s step-start infinite;
  }
  
  @keyframes blinker {
	50% {
	  opacity: 0;
	}
  }


.final-panel {
	height: 75vh;
	padding: 10px;
	background-color: #F9C203;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#show-question-box {
	padding: 50px;
}


#final-jeopardy-question {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 5vh;
	text-align: center;
	color: #131313;
	padding: 5%;
}
#final-jeopardy-question-button, #final-jeopardy-answer-button {
	padding: 15px;
}
#final-jeopardy-question-button:hover, #final-jeopardy-answer-button:hover  {
	color: white;
	background-color: #252424 !important;
}

#final-jeopardy-question-button:active, #final-jeopardy-answer-button:active  {
	color: white;
	background-color: #000000;
}

.shake-img {
	/* Start the shake animation and make the animation last for 0.5 seconds */
	animation: shake 0.5s;
  
	/* When the animation is finished, start again */
	animation-iteration-count: infinite;
  }
  
  @keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
  }