@font-face {
    font-family: LT-Demi;
    src: url("/fonts/LT-Demi.ttf") format("truetype");
}
@font-face {
    font-family: Impact-Reg;
    src: url("/fonts/Impact-Reg.ttf") format("truetype");
}
@font-face {
    font-family: Korinna;
    src: url("/fonts/Korinna.otf") format("opentype");
}
@font-face {
    font-family: Korinna-Bold;
    src: url("/fonts/Korinna-Bold.otf") format("opentype");
}

:root {
	--hivemind-reg: #3286F8;
	--hivemind-light: #589dff;
	--hivemind-dark: #1172f9;
	--disabled-card: #3966a6;
	--question-font: LT-Demi;
	--card-font: Impact-Reg;
	--title-font: LT-Demi;
	--black-reg: #131313;
	--black-light: #252424;
	--black-dark: #000000;
	--white-text: #fefefe;
	--white-reg: #F3F6EA;
	--white-light: #ffffff;
	--white-dark: #fefefe;
	--weird-bg: #39364f;

  }

html {
	background-color: var(--hivemind-reg);
	background-color: var(--weird-bg);
}
body {
	height: 100vh;
	max-width: 1080px;
	width: 100vw;
	background-color: var(--hivemind-reg);
	color: var(--black-reg);
	line-height: 1;
	margin: 0 auto;
	padding: 0px 35px 0px 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

body div {
	border-radius: 0px !important;
}

#player-1-score-div {
	text-align: right;
}

#player-2-score-div {
	text-align: center;
}

#main-board {
	background-image: none;
	padding: 5px;
	display: flex;
	height: auto;
	align-items: center;
    justify-content: center;
	/* background-color: var(--black-dark); */
}

#main-board-categories{
	background-image: none;
	/* background-color: var(--black-dark); */
	padding: 5px;
	border: none;
	color: var(--white-text);
	display: flex;
	height: auto;
	align-items: center;
    justify-content: center;
}

.category {
	width: 154px;
	padding-left: 0px;
	padding-right: 0px;
	margin: 0px;
	border: none;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
}

.category-title {
	background-image: none;
	border: none;
	display: table-cell;
	vertical-align: middle;
	position: relative;
	height: auto !important;
}

.category-text {
	/* color: var(--white-text); */
	font-size: 24px;
	font-family: var(--title-font);
}
/* main panels */
.well {
	background-image: none;
	background-color: var(--hivemind-reg);
	border: none;
	border-radius: 0px;
	margin: 1.5px;
	height: 100px;
	width: 98%;
	padding: 0px;
	display: flex;
	align-items: center;
    justify-content: center;
}

/* completed answer */
.question {
	background-color: var(--disabled-card);
	color: var(--white-text);
	font-size: 50px;
	font-family: var(--card-font);
}

.unanswered {
	background-color: var(--hivemind-reg);
	cursor: pointer;
}

.unanswered:hover {
	background-color: var(--hivemind-light);
}

.unanswered:active {
	background-color: var(--hivemind-dark);
}

.modal {
	padding-left: 0px;
}

.modal-title {
	color: var(--white-text);
	text-shadow: 2px 2px 2px var(--black-dark);
	font-size: 25px;
	font-family: LT-Demi;
	text-align: center;
}

.modal-content {
	background-color: var(--hivemind-reg);
	color: var(--black-reg);
	border-radius: 0px;
	margin: 0 auto;
	box-shadow: none;
	border: 0px;
	max-height: 830px !important;
	height: 100vh !important;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.panel {
	border: 0px;
	box-shadow: 0 1px 2px rgb(0 0 0 / 0%);
}

.panel-footer {
	padding: 15px;
	background-color: var(--hivemind-reg);
	color: var(--white-text);
	border: 0px;
}

.panel-default {
	border: 0px !important;
	margin: 0px !important;
}

#daily-double-modal {
	display: flex;
	align-items: center;
	justify-content: center;
}

#daily-double-content {
	padding: 150px;
	background-color: var(--hivemind-reg);
}

.modal-footer {
	text-align: center;
}

.no-border {
	border: 0px !important;
}

#game-load-modal-dialog {
	opacity: 1 !important;
	background-color: var(--hivemind-reg);
	width: 100%;
	max-width: 1080px;
	padding: 0px !important;
	margin: 0px;
}

#game-load-modal {
	width: 100vw;
	height: 100vh;
	padding: 0px !important;
	display: flex;
	align-items: center;
	justify-content: center;
}

#question-modal {
	width: 100vw;
	max-width: 1080px;
	padding: 0px !important;
	margin: 0 auto;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#question-modal-dialog {
	width: 100vw;
	margin: 0;
}

#question-modal-content {
	height: 100%;
	border-radius: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#question-modal-body {
	height: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.card-body {
	margin-left: 10%;
	margin-right: 10%;
	height: 75vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#game-load-logo-img {
	width: auto;
	height: 250px;
}

#end-round {
	margin-right: 10px;
}

.question-text, #answer-text, #final-jeopardy-question {
	font-family: var(--question-font);
	text-shadow: 2px 2px 2px var(--black-dark);
	font-size: 45px;
	width: 25ch;
	text-align: center;
	color: var(--white-text);
	padding: 5%;
}

.caption {
	font-family: var(--question-font) !important;
	font-size: 25px !important;
	width: 35ch !important;
	padding: 5% !important;
}

#final-image, #question-media, #answer-media {
    position: relative;
    height: 0;
    width: 100%;
    padding-bottom:56.25%;
}

video, iframe {
	/* padding: 10px; */
	position: absolute;
	top: 0;
	left: 0;
	height: auto;
	width: 100%;
	border: none;
}

#question-media img, #final-image img {
	height: 300px;
}

#final-jeopardy-logo-img{
	height: 300px;
}

/* BUTTONS */

button {
	background-color: var(--white-reg);
	color: var(--black-reg);
	font-family: var(--card-font);
	padding: 15px 25px 15px 25px;
	margin: 5px;
	border-radius: 15px;
	border: 0px;
	transition: 0.2s;
	box-shadow: 0 0px 0px rgba(0,0,0,0.25), 0 0px 0px rgba(0,0,0,0.22);
}

button:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	background-color: var(--white-light) !important;
}

button:active {
	background-color: var(--white-dark) !important;
}

.score-button-group {
	text-align: center;
}

.control-button-group {
	text-align: center;
	height: 15px
}


.file-btn {
	width: 250px;
	height: auto;
	padding: 10px;
	margin: 0 auto;
	display: flex !important;
	align-items: center;
	justify-content: center;
}

#final-jeopardy-question-button, #final-jeopardy-answer-button {
	background-color: var(--white-reg);
	color: var(--black-reg);
	font-family: var(--card-font);
	padding: 15px 25px 15px 25px;
	margin: 5px;
	border-radius: 15px;
	border: 0px;
	transition: 0.2s;
	box-shadow: 0 0px 0px rgba(0,0,0,0.25), 0 0px 0px rgba(0,0,0,0.22);
	outline-color: var(--white-dark);
}
#final-jeopardy-question-button:hover, #final-jeopardy-answer-button:hover  {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	background-color: var(--white-light);
	border: 0px;
}

#final-jeopardy-question-button:active, #final-jeopardy-answer-button:active  {
	background-color: var(--white-dark);
	border: 0px;
}


input::file-selector-button {
	background-color: var(--black-reg);
	color: var(--white-reg);
	font-family: var(--card-font);
	padding: 5px 15px 5px 15px;
	margin: 5px;
	border: 2px solid var(--white-reg);
	border-radius: 15px;
	transition: 0.2s;
}

input::file-selector-button:hover {
	background-color: var(--black-light);
}

input::file-selector-button:active {
	background-color: var(--black-dark);
}

.file-select {
	color: var(--white-reg);
	font-family: var(--card-font);
	/* width: 250px;
	height: 50px; */
	padding: 5px 5px 5px 80px;
	/* margin: 0 auto;
	text-align: center; */
	/* background-color: red; */
}


/* END */

.fade-scale {
	transform: scale(0);
	opacity: 1;
	-webkit-transition: all .5s linear;
	-o-transition: all .5s linear;
	transition: all .5s linear;
  }
  
  .fade-scale.in {
	opacity: 1;
	transform: scale(1);
  }

  .blink {
	animation: blinker 1s step-start infinite;
  }
  
  @keyframes blinker {
	50% {
	  opacity: 0;
	}
  }


.final-panel {
	height: 550px;
	padding: 10px;
	background-color: var(--hivemind-reg);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#show-question-box {
	padding: 50px;
}

.shake-img {
	/* Start the shake animation and make the animation last for 0.5 seconds */
	animation: shake 0.5s;
  
	/* When the animation is finished, start again */
	animation-iteration-count: infinite;
  }
  
  @keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
  }